.home-container {
    text-align: center;
    background-image: url('/assets/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #294343;
}
  
.button-group {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

button[mat-raised-button] {
    background-color: #538786; 
    color: white;
    border-radius: 25px;
    padding: 10px 20px; 
    font-size: 16px; 
}

button[mat-raised-button]:hover {
    background-color: #3f6f6b; 
}